// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary: #ff0000;
$secondary: #ffffff;
$accent: #cc0000;

$dark: #121212;
$dark-page: #050505;

$positive: #21ba45;
$negative: #ff0000;
$info: #31ccec;
$warning: #f2c037;
